<p-dialog
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  [header]="
    !organization()?.id ? 'Crear Organización' : 'Actualizar Organización'
  "
  [modal]="true"
  [draggable]="false"
  (onHide)="hideDialog()"
>
  <ng-template pTemplate="content">
    <p-stepper [linear]="true" [value]="1">
      <p-step-list>
        <p-step [value]="1">Nombre y Líder</p-step>
        <p-step [value]="2">Integrantes</p-step>
      </p-step-list>
      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <form [formGroup]="organizationForm" class="form">
              <div class="flex flex-column">
                <label for="name" class="ml-1 mb-1">Nombre:</label>
                <input
                  pInputText
                  id="name"
                  placeholder="Nombre"
                  formControlName="name"
                  aria-describedby="name-help"
                />
                <small
                  id="name-help"
                  class="text-red-500 mt-1 ml-1"
                  *ngIf="submitted && name.errors"
                >
                  {{ nameErrorMsg }}
                </small>

                <label for="leader" class="mt-3 mb-1 ml-1">Líder:</label>
                <p-select
                  inputId="leader"
                  placeholder="--Seleccione--"
                  [options]="workers()"
                  optionLabel="name"
                  optionValue="id"
                  appendTo="body"
                  formControlName="idLeader"
                  aria-describedby="leader-help"
                />
                <small
                  id="leader-help"
                  class="text-red-500 mt-1 ml-1"
                  *ngIf="submitted && leader.errors"
                >
                  {{ leaderErrorMsg }}
                </small>
              </div>
            </form>

            <div class="flex pt-4 justify-content-end">
              <p-button
                label="Siguiente"
                [text]="true"
                icon="pi pi-arrow-right"
                iconPos="right"
                (onClick)="submit()"
                (onClick)="organizationForm.valid && activateCallback(2)"
              />
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-column">
              <p-pickList
                [source]="workersSource"
                [target]="workersSelected"
                sourceHeader="Trabajadores disponibles"
                targetHeader="Trabajadores seleccionados"
                [responsive]="true"
                [showSourceControls]="false"
                [showTargetControls]="false"
                [sourceStyle]="{ height: '10rem' }"
              >
                <ng-template let-worker pTemplate="item">
                  <div class="">
                    <span class="font-bold">{{ worker.name }}</span>
                  </div>
                </ng-template>
              </p-pickList>
            </div>

            <div class="flex pt-4 justify-content-between">
              <p-button
                label="Anterior"
                [text]="true"
                icon="pi pi-arrow-left"
                (onClick)="activateCallback(1)"
              />

              <p-button
                label="Guardar"
                icon="pi pi-check"
                [text]="true"
                (onClick)="saveOrganization()"
              />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </ng-template>
</p-dialog>
