<!-- <div class="flex align-items-center justify-content-center">
  <p-card
    class="p-5 w-full"
    [header]="
      newOrganization.id
        ? 'Actualizar organización ' + newOrganization.name
        : 'Crear organización'
    "
  >
    <p-toast></p-toast>
    <form
      class="form"
      action="POST"
      (ngSubmit)="create()"
      [formGroup]="organizationForm"
      autocomplete="off"
    >
      <div class="grid">
        <label
          for="name"
          class="col-2 flex align-items-center justify-content-end"
          >Organización:
        </label>

        <input
          class="col ml-2 mr-3"
          type="text"
          pInputText
          id="name"
          formControlName="name"
          placeholder="Nombre de la organización..."
        />
      </div>

      <div class="grid">
        <div class="col-2"></div>

        <small
          id="organization-help"
          class="p-error col ml-2"
          *ngIf="validate()"
          >{{ organizationErrorMsg }}</small
        >
      </div>

      <div class="grid">
        <label
          for="leader"
          class="col-2 flex align-items-center justify-content-end"
          >Líder:
        </label>

        <p-dropdown
          class="col"
          inputId="leader"
          formControlName="idLeader"
          [options]="workers"
          optionLabel="name"
          (onHide)="touchDropdown()"
          optionValue="id"
          placeholder="-- Seleccione --"
        />
      </div>

      <div class="grid">
        <small class="p-error" *ngIf="idLeader.errors && dropdownTouched">
          El líder es requerido.
        </small>
      </div>

      <div class="gap-6 mt-5 flex align-items-center justify-content-center">
        <p-button
          label="Crear"
          icon="pi pi-check"
          severity="success"
          class=""
          type="submit"
          *ngIf="!newOrganization.id; else update"
          [disabled]="organizationForm.invalid"
        ></p-button>

        <ng-template #update>
          <p-button
            label="Actualizar"
            icon="pi pi-check"
            severity="success"
            class="col-2 mx-2"
            type="submit"
            [disabled]="organizationForm.invalid || organizationForm.pristine"
          ></p-button>
        </ng-template>

        <p-button
          label="Cancelar"
          icon="pi pi-times"
          class=""
          type="button"
          [routerLink]="'/organizaciones'"
        ></p-button>
      </div>
    </form>
  </p-card>
</div> -->

<p-dialog
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  [header]="
    !organization()?.id ? 'Crear Organización' : 'Actualizar Organización'
  "
  [modal]="true"
  (onHide)="hideDialog()"
>
  <ng-template pTemplate="content">
    <p-stepper [linear]="true" [value]="1">
      <p-step-list>
        <p-step [value]="1">Nombre y Líder</p-step>
        <p-step [value]="2">Integrantes</p-step>
      </p-step-list>
      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <form [formGroup]="organizationForm" class="form">
              <div class="flex flex-column">
                <!-- <div class=""> -->
                <label for="name" class="mb-1 ml-1">Nombre:</label>
                <input
                  type="text"
                  pInputText
                  id="name"
                  formControlName="name"
                  autofocus
                />
                <small
                  class="text-red-500 mt-1 ml-1"
                  *ngIf="submitted && name.errors"
                >
                  {{ nameErrorMsg }}
                </small>
                <!-- </div> -->

                <!-- <div class=""> -->
                <label for="leader" class="mt-3 mb-1 ml-1">Líder:</label>
                <p-select
                  formControlName="idLeader"
                  inputId="leader"
                  [options]="workers()"
                  optionLabel="name"
                  optionValue="id"
                  placeholder="--Seleccione--"
                  appendTo="body"
                />
                <small
                  class="text-red-500 mt-1 ml-1"
                  *ngIf="submitted && leader.errors"
                >
                  {{ leaderErrorMsg }}
                </small>
                <!-- </div> -->
              </div>
            </form>

            <div class="flex pt-4 justify-content-end">
              <p-button
                label="Siguiente"
                [text]="true"
                icon="pi pi-arrow-right"
                iconPos="right"
                (onClick)="submit()"
                (onClick)="organizationForm.valid && activateCallback(2)"
              />
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <!-- <p-message key="banner" /> -->
            <!-- <p-toast /> -->

            <div class="flex flex-column">
              <p-pickList
                [source]="workersSource"
                [target]="workersSelected"
                sourceHeader="Trabajadores disponibles"
                targetHeader="Trabajadores seleccionados"
                [responsive]="true"
                [showSourceControls]="false"
                [showTargetControls]="false"
                [sourceStyle]="{ height: '10rem' }"
              >
                <ng-template let-worker pTemplate="item">
                  <div class="">
                    <span class="font-bold">{{ worker.name }}</span>
                  </div>
                </ng-template>
              </p-pickList>
            </div>

            <div class="flex pt-4 justify-content-between">
              <p-button
                label="Anterior"
                [text]="true"
                icon="pi pi-arrow-left"
                (onClick)="activateCallback(1)"
              />

              <p-button
                label="Guardar"
                icon="pi pi-check"
                [text]="true"
                (onClick)="saveOrganization()"
              />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </ng-template>
</p-dialog>
