@if (!loading) {
<!-- <div class="flex flex-wrap align-items-center justify-content-center"> -->
<div class="flex flex-column">
  <p-card class="p-1">
    <ng-template #header>
      <h2 class="ml-3 mb-1">
        Organización:
        {{ typeOfMeeting.organization?.name }}
      </h2>

      <span class="ml-3 text-color-secondary text-lg font-medium">
        Tipo de Reunión: {{ typeOfMeeting.name }}</span
      >
    </ng-template>

    <ng-template pTemplate="content">
      <!-- <div class="my-3">
          <p-toolbar>
            <ng-template pTemplate="start">
              <p-button
              label="Crear Agenda"
              severity="success"
              icon="pi pi-plus"
              [text]="true"
              (onClick)="showFormDialog()"
            />
            </ng-template>

            <ng-template pTemplate="end">
              <p-button
                [text]="true"
                label="Atrás"
                icon="pi pi-arrow-left"
                (onClick)="goBack()"
              />
            </ng-template>
          </p-toolbar>
        </div> -->

      <!-- <div class="flex flex-row justify-content-end gap-2">
          <p-button
            label="Atrás"
            icon="pi pi-arrow-left"
            [text]="true"
            (onClick)="goBackToToms()"
          />
        </div> -->

      <!-- <p-divider /> -->
      @if (meetingsVisible) {
      <app-meetings-table [typeOfMeeting]="typeOfMeeting" />
      }@else if (agendasVisible) {
      <app-agendas-table [typeOfMeeting]="typeOfMeeting" />
      } @else{
      <p>
        <span class="text-lg font-bold text-red-500">Cargando tabla...</span>
      </p>
      }
    </ng-template>
  </p-card>
</div>
<!-- </div> -->
}@else {
<app-loading />
}
<!-- @if(formDialogVisible){
  <app-typeOfMeeting-form
    [typeOfMeeting]="typeOfMeeting"
    (onChanges)="reloadInfo($event)"
    (onHide)="hideFormDialog()"
  />
  } -->
