@if (loading) {
<app-loading />
}@else {
<div class="flex align-items-center justify-content-center">
  <p-card
    class="p-3 w-full"
    [header]="'Organización: ' + typeOfMeeting?.organization?.name"
    [subheader]="'Tipo de Reunión: ' + meeting()?.typeOfMeeting?.name || ''"
  >
    <ng-template #content>
      <div class="flex flex-row gap-2">
        <div class="flex flex-column">
          <h3 class="flex">
            {{ meeting()?.name || "" }}
          </h3>
        </div>

        <div class="flex flex-column align-self-center">
          <p-tag
            [value]="(meeting()?.status | uppercase) || ''"
            [severity]="getSeverity(meeting()?.status || '')"
          />
        </div>
      </div>

      @if (infoVisible) {
      <div class="flex flex-column justify-content-center">
        <p-toolbar>
          <ng-template #start>
            @if (meeting()?.status?.toLowerCase()===status.CLOSED.toLowerCase())
            {
            <p-button
              label="Exportar Acta"
              severity="info"
              icon="pi pi-file-export"
              [text]="true"
              (onClick)="exportDocument()"
            />
            }
          </ng-template>

          <ng-template #end>
            @if
            (meeting()?.status?.toLowerCase()!==status.PENDENT.toLowerCase()) {
            <p-button
              class="mr-2"
              icon="pi pi-clipboard"
              label="Acuerdos"
              type="button"
              [text]="true"
              (onClick)="showAgreements()"
            />
            } @if
            (meeting()?.status?.toLowerCase()===status.IN_PROCESS.toLowerCase())
            {
            <p-button
              class="mr-2"
              icon="pi pi-users"
              label="Actualizar Asistencia"
              type="button"
              [text]="true"
              (onClick)="showAttendanceDialog()"
            />
            } @if
            (meeting()?.status?.toLowerCase()===status.IN_PROCESS.toLowerCase())
            {
            <p-button
              class="mr-2"
              icon="pi pi-lock"
              label="Cerrar Reunión"
              type="button"
              [text]="true"
              (onClick)="closeMeeting()"
            />
            } @if
            (meeting()?.status?.toLowerCase()===status.PENDENT.toLowerCase()) {
            <p-button
              class="mr-2"
              icon="pi pi-lock-open"
              label="Abrir Reunión"
              type="button"
              [text]="true"
              (onClick)="openMeeting()"
            />
            } @if
            (meeting()?.status?.toLowerCase()!==status.CLOSED.toLowerCase()) {
            <p-button
              class="mr-4"
              icon="pi pi-pencil"
              label="Editar"
              severity="success"
              type="button"
              [text]="true"
              (onClick)="showFormDialog()"
            />
            }
            <p-button
              icon="pi pi-arrow-left"
              label="Atrás"
              type="button"
              [text]="true"
              (onClick)="goBack()"
            />
          </ng-template>
        </p-toolbar>

        <div class="flex flex-row">
          <div class="col">
            <p-divider align="left" type="solid">
              <strong>Fecha</strong>
            </p-divider>
            <p class="ml-5">
              {{ (meeting()?.date | date : "dd/MM/yyyy") || "" }}
            </p>
          </div>

          <div class="col">
            <p-divider align="left" type="solid">
              <strong>Sesión</strong>
            </p-divider>
            <p class="ml-5">{{ meeting()?.session || "" }}</p>
          </div>

          <div class="col">
            <p-divider align="left" type="solid">
              <strong>Hora de inicio</strong>
            </p-divider>
            <p class="ml-5">
              {{ (meeting()?.startTime | date : "HH:mm") || "" }}
            </p>
          </div>

          <div class="col">
            <p-divider align="left" type="solid">
              <strong>Hora de fin</strong>
            </p-divider>
            <p class="ml-5">
              {{ (meeting()?.endTime | date : "HH:mm") || "" }}
            </p>
          </div>

          <div class="col">
            <p-divider align="left" type="solid">
              <strong>Secretario</strong>
            </p-divider>
            <p class="ml-5">{{ meeting()?.secretary?.name || "" }}</p>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="col">
            <p-divider align="left" type="solid">
              <strong>Trabajadores convocados</strong>
            </p-divider>
            <ul class="" [ngStyle]="{ 'list-style': 'none' }">
              @for (member of members(); track member.id) {
              <li>{{ member.name }}</li>
              }
            </ul>
          </div>

          <div class="col">
            <p-divider align="left" type="solid">
              <strong>Trabajadores invitados</strong>
            </p-divider>
            <ul class="" [ngStyle]="{ 'list-style': 'none' }">
              @for (guest of guests(); track guest.id) {
              <li>{{ guest.name }}</li>
              }
            </ul>
          </div>

          <div class="col">
            <p-divider align="left" type="solid">
              <strong>Trabajadores ausentes</strong>
            </p-divider>
            <ul class="" [ngStyle]="{ 'list-style': 'none' }">
              @for (worker of missing(); track worker.id) {
              <li>{{ worker.name }}</li>
              }
            </ul>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="col">
            <p-divider align="left">
              <span class="text-color-secondary font-bold">Orden del Día</span>
            </p-divider>
            <ol>
              @for (topic of meeting()?.topics; track topic.id) {
              <li>{{ topic.name }}</li>
              }
            </ol>
          </div>
        </div>
      </div>
      }@else if(agreementsVisible){
      <app-agreements-table
        [meeting]="meeting()!"
        (onGoBack)="hideAgreements()"
      />
      }
    </ng-template>
  </p-card>
</div>
@if (formDialogVisible) {
<app-meeting-form
  [meeting]="meeting()!"
  [typeOfMeeting]="typeOfMeeting!"
  (onUpdate)="updateInfo($event)"
  (onHide)="hideFormDialog()"
/>
} @if (attendanceDialogVisible) {
<app-attendance-dialog
  [meeting]="meeting()!"
  (onUpdate)="updateInfo($event)"
  (onHide)="hideAttendanceDialog()"
/>
} }
