<div class="flex align-items-center justify-content-center">
  <p-card
    class="p-3 w-full"
    [header]="'Organización: ' + meeting()?.organization?.name || ''"
    [subheader]="'Tipo de Reunión: ' + meeting()?.typeOfMeeting?.name || ''"
  >
    <ng-template #content>
      <div class="flex flex-row gap-2">
        <div class="flex flex-column">
          <h3 class="flex">
            {{ meeting()?.name || "" }}
          </h3>
        </div>

        <div class="flex flex-column align-self-center">
          <p-tag
            [value]="(meeting()?.status | uppercase) || ''"
            [severity]="getSeverity(meeting()?.status || '')"
          />
        </div>
      </div>

      @if (infoVisible) {
      <div class="flex flex-column justify-content-center">
        <div class="flex flex-row">
          <div class="col">
            <p-divider align="left" type="solid">
              <strong>Fecha</strong>
            </p-divider>
            <p class="ml-5">
              {{ (meeting()?.date | date : "dd/MM/yyyy") || "" }}
            </p>
          </div>

          <div class="col">
            <p-divider align="left" type="solid">
              <strong>Sesión</strong>
            </p-divider>
            <p class="ml-5">{{ meeting()?.session || "" }}</p>
          </div>

          <div class="col">
            <p-divider align="left" type="solid">
              <strong>Hora de inicio</strong>
            </p-divider>
            <p class="ml-5">
              {{ (meeting()?.startTime | date : "HH:mm") || "" }}
            </p>
          </div>

          <div class="col">
            <p-divider align="left" type="solid">
              <strong>Hora de fin</strong>
            </p-divider>
            <p class="ml-5">
              {{ (meeting()?.endTime | date : "HH:mm") || "" }}
            </p>
          </div>

          <div class="col">
            <p-divider align="left" type="solid">
              <strong>Secretario</strong>
            </p-divider>
            <p class="ml-5">{{ meeting()?.secretary?.name || "" }}</p>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="col">
            <p-divider align="left" type="solid">
              <strong>Trabajadores convocados</strong>
            </p-divider>
            <ul class="" [ngStyle]="{ 'list-style': 'none' }">
              @for (member of members(); track member.id) {
              <li>{{ member.name }}</li>
              }
            </ul>
          </div>

          <div class="col">
            <p-divider align="left" type="solid">
              <strong>Trabajadores invitados</strong>
            </p-divider>
            <ul class="" [ngStyle]="{ 'list-style': 'none' }">
              @for (guest of guests(); track guest.id) {
              <li>{{ guest.name }}</li>
              }
            </ul>
          </div>

          <div class="col">
            <p-divider align="left" type="solid">
              <strong>Trabajadores ausentes</strong>
            </p-divider>
            <ul class="" [ngStyle]="{ 'list-style': 'none' }">
              @for (worker of missing(); track worker.id) {
              <li>{{ worker.name }}</li>
              }
            </ul>
          </div>
        </div>
      </div>
      }@else if(agreementsVisible){
      <app-agreements-table
        [meeting]="meeting()!"
        (onGoBack)="hideAgreements()"
      />
      }
    </ng-template>

    @if(infoVisible){
    <ng-template #footer>
      <div class="flex gap-8 justify-content-center">
        <p-button
          icon="pi pi-arrow-left"
          label="Atrás"
          type="button"
          [text]="true"
          (onClick)="goBack()"
        />

        <p-button
          icon="pi pi-pencil"
          label="Editar"
          type="button"
          [text]="true"
          (onClick)="showFormDialog()"
        />

        @if (meeting()?.status===status.PENDENT) {
        <p-button
          icon="pi pi-lock-open"
          label="Abrir Reunión"
          type="button"
          [text]="true"
          (onClick)="openMeeting()"
        />
        <!-- *ngIf="
                meeting
                  ? meeting.status
                    ? meeting.status === 'pendiente'
                    : false
                  : false
              " -->

        } @if (meeting()?.status===status.IN_PROCESS) {
        <p-button
          icon="pi pi-users"
          label="Actualizar Asistencia"
          type="button"
          [text]="true"
          (onClick)="showAttendanceDialog()"
        />
        <!-- *ngIf="
              meeting
                ? meeting.status
                  ? meeting.status === 'en proceso'
                  : false
                : false
            " -->
        } @if
        (meeting()?.status===status.IN_PROCESS||meeting()?.status===status.CLOSED)
        {
        <p-button
          icon="pi pi-clipboard"
          label="Acuerdos"
          type="button"
          [text]="true"
          (onClick)="showAgreements()"
        />
        <!-- [routerLink]="['/acuerdos/', meeting()?.id || '']" -->
        <!-- *ngIf="
              meeting
                ? meeting.status
                  ? meeting.status !== 'pendiente'
                  : false
                : false
            " -->
        } @if (meeting()?.status===status.IN_PROCESS) {
        <p-button
          icon="pi pi-lock"
          label="Cerrar Reunión"
          type="button"
          [text]="true"
          (onClick)="closeMeeting()"
        />
        <!-- *ngIf="
              meeting
                ? meeting.status
                  ? meeting.status === 'en proceso'
                  : false
                : false
            " -->
        }
      </div>
    </ng-template>
    }
    <!-- <p-confirmDialog></p-confirmDialog> -->
  </p-card>
</div>

<!-- <p-dialog
  [(visible)]="formVisible"
  [style]="{ width: '50rem' }"
  header="Editar Reunión"
  [modal]="true"
  styleClass="p-fluid"
  [draggable]="false"
  (onHide)="hideFormDialog()"
>
  <ng-template pTemplate="content">
    <app-meeting-form
      *ngIf="formVisible"
      [meeting]="meeting"
      [organization]="meeting.organization!"
      [typeOfMeeting]="meeting.typeOfMeeting!"
      (onSave)="reloadInfo($event)"
    />
  </ng-template>
</p-dialog> -->

<!-- <p-dialog
  [(visible)]="attendanceVisible"
  [style]="{ width: '50rem' }"
  header="Registrar asistencia"
  [modal]="true"
  styleClass="p-fluid"
  [draggable]="false"
  (onHide)="hideAttendanceDialog()"
>
  <ng-template pTemplate="content">
    <div class="flex flex-column">
      <p-pickList
        sourceHeader="Trabajadores ausentes"
        targetHeader="Trabajadores presentes"
        [source]="participants"
        [target]="attendants"
        [responsive]="true"
        [showSourceControls]="false"
        [showTargetControls]="false"
        [sourceStyle]="{ height: '15rem' }"
      >
        <ng-template let-worker pTemplate="item">
          <div class="">
            <span class="font-bold">{{ worker.name }}</span>
          </div>
        </ng-template>
      </p-pickList>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-evenly">
      <p-button
        label="Cancelar"
        [text]="true"
        icon="pi pi-times"
        (onClick)="hideDialog()"
      />

      <p-button
        label="Guardar"
        icon="pi pi-check"
        [text]="true"
        (onClick)="saveAttendance()"
      />
    </div>
  </ng-template>
</p-dialog> -->
