@if (infoVisible) { @if (agreement().loading) {
<app-loading />
}@else {
<p-dialog
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  [modal]="true"
  [draggable]="false"
  (onHide)="hideDialog()"
>
  <ng-template #header>
    <div class="flex flex-row gap-2">
      <div class="flex flex-column">
        <h2 class="my-0">Acuerdo No. {{ agreement().data!.number }}</h2>
      </div>

      <div class="flex flex-column align-self-center">
        <p-tag [value]="status | uppercase" [severity]="severity" />
      </div>
    </div>
  </ng-template>

  <ng-template #content>
    <div class="flex flex-column justify-content-center w-full">
      <p-divider align="left" type="solid">
        <strong>Contenido</strong>
      </p-divider>
      <span class="ml-5">{{ agreement().data!.content }}</span>

      <div class="grid">
        <div class="col">
          <p-divider align="left" type="solid">
            <strong>Reunión</strong>
          </p-divider>
          <span class="ml-5">
            {{ agreement().data!.meeting?.name }}
          </span>
        </div>

        <div class="col">
          <p-divider align="left" type="solid">
            <strong>Fecha de cumplimiento</strong>
          </p-divider>
          <span class="ml-5">
            {{ agreement().data!.compilanceDate | date : "dd/MM/yyyy" }}
          </span>
        </div>
      </div>

      <p-divider align="left" type="solid">
        <strong>Responsable</strong>
      </p-divider>
      <span class="ml-5">
        {{ agreement().data!.responsible?.name }}
      </span>

      <p-divider align="left" type="solid">
        <strong>Respuestas</strong>
      </p-divider>

      <ul class="mt-0">
        @for (response of agreement().data!.responses; track response.id) {
        <li [style]="{ 'white-space': 'pre-line' }">
          {{ response.content }}
        </li>
        }
      </ul>
    </div>
  </ng-template>

  <ng-template #footer>
    <div class="flex gap-2 justify-content-center">
      <p-button
        icon="pi pi-arrow-left"
        label="Atrás"
        type="button"
        [text]="true"
        (onClick)="hideDialog()"
      />

      @if (!agreement().data!.completed && agreement().data!.state) { @if
      (isLeader) {
      <p-button
        severity="success"
        icon="pi pi-pencil"
        label="Editar"
        type="button"
        [text]="true"
        (onClick)="showFormDialog()"
      />

      }

      <p-button
        icon="pi pi-file-edit"
        label="Dar respuesta"
        type="button"
        [text]="true"
        (onClick)="showResponseDialog()"
      />

      @if (isLeader) { @if(agreement().data!.responses!.length > 0){
      <p-button
        icon="pi pi-check"
        label="Marcar como cumplido"
        type="button"
        severity="success"
        [text]="true"
        (onClick)="setCompleted()"
      />
      }

      <p-button
        icon="pi pi-ban"
        label="Anular"
        severity="danger"
        type="button"
        (onClick)="setCancelled()"
        [text]="true"
      />

      } }
    </div>
  </ng-template>

  <!-- <p-confirmDialog /> -->
</p-dialog>
} }@else if(responseDialogVisible){
<app-response-form
  [agreement]="agreement().data!"
  (onHide)="hideResponseDialog()"
  (onUpdate)="reloadInfo($event)"
/>
}@else if (formDialogVisible) {
<app-agreement-form
  [agreement]="agreement().data!"
  (onUpdate)="reloadInfo($event)"
  (onHide)="hideForm()"
/>
}
