<div class="flex flex-column">
  <p-card class="p-1">
    <ng-template #header>
      <h2 class="ml-3 mb-1">
        Tipo de Reunión:
        {{ !createMode ? newAgenda?.typeOfMeeting?.name : typeOfMeeting?.name }}
      </h2>

      @if(editMode||infoMode){
      <span class="ml-3 text-color-secondary text-lg font-medium">
        Agenda {{ newAgenda?.year | date : "y" }}</span
      >
      }@else {
      <span class="ml-3 text-color-secondary text-lg font-medium">
        Crear Agenda
      </span>
      }
    </ng-template>

    <ng-template #content>
      <p-toolbar>
        <ng-template pTemplate="start">
          <p-button
            *ngIf="!infoMode"
            [text]="true"
            severity="success"
            label="Agregar Tema"
            icon="pi pi-plus"
            (onClick)="showTopicDialog()"
          />

          <p-button
            *ngIf="infoMode"
            [text]="true"
            severity="success"
            label="Editar"
            icon="pi pi-pencil"
            (onClick)="edit()"
          />
        </ng-template>

        <ng-template pTemplate="end">
          <p-button
            *ngIf="!infoMode"
            [text]="true"
            label="Guardar"
            icon="pi pi-check"
            (onClick)="save()"
            class="mr-2"
          />

          <p-button
            [text]="true"
            [label]="!infoMode ? 'Cancelar' : 'Atrás'"
            [icon]="!infoMode ? 'pi pi-times' : 'pi pi-arrow-left'"
            (onClick)="goBack()"
          />
        </ng-template>
      </p-toolbar>

      <p-table
        #tTopics
        [value]="topics()"
        sortField="monthNumber"
        sortMode="single"
        [scrollable]="true"
        scrollHeight="400px"
        rowGroupMode="rowspan"
        groupRowsBy="monthNumber"
        class=""
        [globalFilterFields]="['name']"
        [rowHover]="true"
      >
        <ng-template #caption>
          <div class="flex justify-content-between">
            @if(createMode){
            <form [formGroup]="agendaForm" class="form">
              <div class="flex align-self-center ml-3">
                <label
                  for="name"
                  class="col-1 flex justify-content-end align-self-center font-bold"
                  >Año:</label
                >
                <div class="col">
                  <p-datepicker
                    class=""
                    formControlName="year"
                    view="year"
                    dateFormat="yy"
                    [readonlyInput]="true"
                    aria-describedby="year-help"
                  />
                  @if(submitted&&year.errors){
                  <small class="year-help" class="text-red-500 mt-1 ml-1">
                    {{ yearErrorMsg }}
                  </small>
                  }
                </div>
              </div>
            </form>
            }@else {
            <span></span>
            }

            <div class="flex align-self-center">
              <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search" />
                <input
                  pInputText
                  placeholder="Buscar..."
                  (input)="
                    tTopics.filterGlobal($any($event.target).value, 'contains')
                  "
                />
              </p-iconField>
            </div>
          </div>
        </ng-template>

        <ng-template #header>
          <tr>
            <th style="width: 10%">
              <span class="flex justify-content-center"> Mes </span>
            </th>

            <th style="width: 80%">Tema</th>

            @if(!infoMode){
            <th style="width: 10%"></th>
            }
          </tr>
        </ng-template>

        <ng-template
          #body
          let-topic
          let-rowIndex="rowIndex"
          let-rowgroup="rowgroup"
          let-rowspan="rowspan"
        >
          <tr>
            @if (rowgroup) {
            <td [attr.rowspan]="rowspan">
              <span class="text-lg font-medium flex justify-content-center">{{
                topic.month | date : "MMMM" | uppercase
              }}</span>
            </td>
            }

            <td>
              {{ topic.name }}
            </td>

            <td class="flex gap-2">
              @if (topic.id < 0) {
              <p-button
                icon="pi pi-pencil"
                severity="success"
                [rounded]="true"
                [text]="true"
                (onClick)="showTopicDialog(topic)"
              />

              <p-button
                icon="pi pi-trash"
                severity="danger"
                [rounded]="true"
                [text]="true"
                (onClick)="showRemoveConfirmation($event, topic.id, topic.name)"
              />
              }@else {
              <p></p>
              }
            </td>
          </tr>
        </ng-template>

        <ng-template #emptymessage>
          <tr>
            <td colspan="3" class="">No se encontró ningún Tema</td>
          </tr>
        </ng-template>

        <ng-template #summary>
          <div class="row pt-3">
            <span class="font-bold ml-3">Temas: {{ topics().length }}</span>
          </div>
        </ng-template>
      </p-table>
    </ng-template>
  </p-card>
</div>

@if (topicDialogVisible) {
<app-topic-form
  [topic]="selectedTopic"
  (onHide)="hideTopicDialog()"
  (onSave)="addTopic($event)"
/>
}@if(confirmDialogVisible){
<app-confirm-remove
  [entityName]="removeEntityName!"
  [entityType]="'Tema'"
  [event]="removeEntityEvent!"
  (onConfirm)="remove($event)"
/>
}
